tr:nth-child(odd) {
    background-color: green;
    color: white;
}

tr:nth-child(1) {
    color: black;


}

tr:nth-child(even) {
    background-color: darkgreen;
    color: white;
}

td,
th {
    border-bottom: 1px solid white;

}

table {
    border-collapse: collapse;
    text-align: center;
}