* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
    padding: 20px;
}

.card {
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.385);
    height: 90vh;
}

.cardLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
    margin: 5px;


}

.sizeLabel {
    color: pink;
    font-size: 40px;
    margin: 6px;
}

.sizes {
    display: flex;
    gap: 15px;
}

.size {
    border: 2px solid pink;
    color: pink;
    padding: 20px;
    margin: 6px;
    font-size: 24px;

}

.productCategory {
    display: flex;
    color: pink;
    font-size: 25px;
}

.cardRight {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.productTitle {
    font-size: 30px;
}

.productPrice {
    display: flex;
    color: pink;
    font-size: 30px;

}

.finalize {
    display: flex;
    gap: 5px;


}

.addToCartButton {
    background-color: pink;
    border: 1px solid transparent;
    color: white;
    font-size: 55px;
    width: 55vw;

}

.dropDownButton {
    background-color: pink;
    border: 1px solid transparent;
    color: white;
    width: 5vw;
    font-size: 55px;
}

img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.095);
    width: 30vw;
    margin: 5px;
    border-radius: 5px;
}

.dFlex {
    display: flex;
    flex-direction: column;
    gap: 260px;
    font-size: 20px;
}