* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Gill Sans'
}

.story-container {
    /*Sizing*/
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}