* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 200px 1fr 200px;
    height: 100vh;

}

.bgPink {
    background-color: pink;
}

main {
    background-color: aqua;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}