* {
    box-sizing: border-box;
}

#movieThumb {
    overflow-x: scroll;
    display: flex;
    width: 1050px;
    gap: 1rem;


}

#movieThumb li {
    list-style-type: none;
    text-align: center;
}

#movieThumb img {
    width: 200px;
}