* {
    margin: 0px;
    padding: 0px;
}

/* global */
a,
li {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
}

.fontSize {
    font-size: 80px;
}

.dFlex {
    display: flex;
}

.dGrid {
    display: grid;
}

.alItems {
    align-items: center;
}

.gap-80 {
    gap: 80rem;
}

.bgPink {
    background-color: rgb(248, 233, 209);
}

.bgWhite {
    background-color: white;
}

.bgTransparent {
    background-color: transparent;
}

.bgBlack {
    background-color: rgba(0, 0, 0, 0.753);
}

.colorGray {
    color: rgb(189, 184, 184);
}

.colorWhite {
    color: white;
}

.colorPink {
    color: rgb(188, 128, 147);
}

li:hover {
    color: rgb(188, 128, 147);
}

.colorP :hover {
    background-color: rgb(188, 128, 147);
    color: black;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.positionA {
    position: absolute;
}

.positionR {
    position: relative;
}

.positionS {
    position: fixed;
}

.icons {
    width: 20px;
}

.listTransition {
    top: 60px;
    right: 20px;
    width: 15rem;
    background-color: white;
}

.beauty {
    background-image: url(/FMACSS-Framework/img/viber_image_2024-04-20_20-55-43-620.jpg);
    background-color: rgba(245, 245, 220, 0.973);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
}

.shop:hover .listTransition {
    display: block;
}

.divBeauty:hover .listTransition {
    display: block;
}

.imageCream:hover .listTransition {
    display: block;
}

.sale:hover .listTransition {
    display: flex;
}

img {
    vertical-align: middle;
}

.img-50 {
    width: 200px;
}

.img-xxs {
    width: 25%;
}

.bRadius {
    border-radius: 50%;
}

.marginY20 {
    margin: 0 10px;
}

.marginTop {
    margin-top: 100px;
}

.padding50 {
    padding: 50px;
}

.height {
    height: 20px;
}

/* body */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: normal;
    background-color: #fff;
    letter-spacing: .8px;
    box-sizing: inherit;
}

/* main */
.gridfrfr {
    grid-template-columns: auto 1fr;
}

.grid2fr {
    grid-template-columns: 1fr 1fr;
}

.grid4fr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid3fr {
    grid-template-columns: 1fr 1fr 1fr;
}

.gridRow {
    grid-template-rows: 1fr 1fr 1fr;
}

.button:hover {
    background-color: rgb(202, 140, 160);
    border: none;
}

.borderPink {
    border-bottom: 1px solid palevioletred;
}

.image-container {
    position: relative;
    width: 100%;
}

.background-image {
    width: 85%;
}

.overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 15%;
    left: 40%;
}

.overlayXY {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 20%;
}

.overlayBL {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -5px;
    left: 125px;
}

.overlayB {
    transform: translate(-50%, -50%);
    bottom: -130px;
}

.card3Hover:hover .overlayBL {
    display: block;
    background-color: rgba(0, 0, 0, 0.295);
    background-blend-mode: color;
    transition: overlayBL 0.10s ease;
}

.positionRight {
    right: 47px;
}

.imgh {
    height: 100%;
    transform: translateY(-5px);
}

.img2 {
    width: 34rem;
}


.divImgHover:hover .imgh {
    display: block;
    transform: translateY(-352px);
}

.bRadius {
    border-radius: 5px;
}

.width {
    height: 20%;
}

.vertical {
    padding: 10px;
    display: flex;
}

.card3 {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card4 {
    background-image: url(/FMACSS-Framework/img/testimonial-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.card5 {
    background-image: url(/FMACSS-Framework/img/Parallex.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}

.tranformY {
    transform: translateY(-40px);
}

.card5Button {
    background: transparent;
    border: none;
    cursor: pointer;
}