.lina::first-letter {
    font-family: "Fjalla One", sans-serif;
    font-size: 90px;
    float: left;
    text-decoration: orangered underline;
    line-height: 0.9;


}

.upper {
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    float: left;
    line-height: 0.5;

}