* {
    margin: 0;
    padding: 0;
}

/* global */
.icons {
    width: 25px;
    height: 25px;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

.positionA {
    position: absolute;
}

.positionR {
    position: relative;
}

.positionXY {
    top: -30px;
    left: 10px;
    padding: 5px;
}

.dFlex {
    display: flex;
}

.dGrid {
    display: grid;
}

.auto-fr {
    grid-template-columns: auto 1fr;
}

.fr-fr {
    grid-template-columns: 1fr 1fr;
}

.columnGap {
    column-gap: 30px;
}

.rowGap {
    row-gap: 30px;
}

.padding10 {
    padding: 10px;
}

.paddingtop {
    padding-top: 40px;
}

.marginY100 {
    margin: 0 100px;
}

.marginTop50 {
    margin-top: 50px;
}

.aitems {
    align-items: center;
}

.gap2 {
    gap: 2rem;
}

.bradius {
    border-radius: 1rem;
}

.bradius5 {
    border-radius: 5px;
}

.bgWhite {
    background-color: white;
}

.bgGreen {
    background-color: green;
}

.bgRed {
    background-color: rgb(255, 85, 0);
}

.bgPink {
    background-color: rgb(221, 15, 84);
}

.bgBlue {
    background-color: rgb(59, 59, 188);
}

.boxShadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
}

.colorGray {
    color: gray;
}

.colorWhite {
    color: white;
}

.fSize {
    font-size: 1.4rem;
}

.jEnd {
    justify-content: end;
}

.jSpaceBetween {
    justify-content: space-between;
}

.textAlign {
    text-align: center;
}

.image {
    width: 22vw;
}

.card3Img {
    top: -90px;
    right: 12px;
    transition: top .6s ease;
}

.transitionCard:hover .card3Img {
    top: -90px;
}

/* /* body * */
body {
    grid-template-columns: auto 1fr;
    background-color: rgb(221, 221, 227);
}

/* aside */
aside {
    background-image: url(images/images/sidebar-2.jpg);
    background-color: rgba(0, 0, 0, 0.899);
    background-position: center;
    background-blend-mode: color;
    padding: 1rem;
    font-size: 1rem;
    position: sticky;
    top: 0;
    text-align: center;
}

.img50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.aDashbord {
    background-color: red;
    border-radius: 5px;
    padding: 5px 0;
}

.aStyle {
    gap: 1rem;
    grid-template-columns: auto 1fr auto;
    margin: 0.5rem;
}

.aStyle:hover:not(.aSection, .aTitle, .aDashbord) {
    background-color: rgba(0, 0, 0, 0.401);
}

/* header */
.container {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
}

.container1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dots {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.buttonRed {
    top: -2px;
    right: -2px;
    background-color: red;
    border: transparent;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid white;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
}

input:focus {
    border-bottom: 2px solid purple;
}

.shadow:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
}

.pTransition {
    display: none;
    transition: display .9s;
}

a:hover,
.positionR:hover .listTransition {
    display: block;
}

.bgGray {
    background-color: rgba(0, 0, 0, 0.379);
    color: white;
}

.listTransition {
    right: 5px;
    top: 10px;
    width: 12rem;
    background-color: white;
}

.transitionBgRed:hover {
    background-color: red;
}

/* main */
main {
    padding: 40px;
}

.iconBox {
    padding: 25px;
}