* {
    margin: 0;
    padding: 0;
}

/* global */
.icons {
    width: 25px;
    height: 25px;
}

.positionXY {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px;
}

.position {
    position: relative;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    background-color: rgb(221, 221, 227);

}


/* aside */
aside {
    background-image: url(sidebar-2.jpg);
    color: white;
    background-color: rgba(0, 0, 0, 0.899);
    background-blend-mode: color;
    padding: 1rem;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.aDashbord {
    background-color: red;
    border-radius: 5px;
    padding: 5px 0;
}

.aStyle {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr auto;
    margin: 0.5rem;
}

.aStyle:hover:not(.aSection, .aTitle, .aDashbord) {
    background-color: rgba(0, 0, 0, 0.401);
}

.container {
    padding: 1rem;
}

/* header */
header {
    display: grid;
    grid-template-columns: 1fr auto;

}

.container1 {
    display: flex;
    gap: 15px;

}

.dots {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.buttonRed {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: red;
    border: transparent;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    overflow: hidden;
}