* {
    margin: 0;
    padding: 0;
}

:root {
    --padding-40: 40px;
}

/* global */
.icons {
    width: 25px;
    height: 25px;
}

.iconsDirection {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

a,
li {
    text-decoration: none;
    list-style: none;
}

.positionA {
    position: absolute;
}

.positionR {
    position: relative;
}

.dFlex {
    display: flex;
}

.dGrid {
    display: grid;
}

.fr-auto {
    grid-template-columns: 1fr auto;
}

.auto-fr {
    grid-template-columns: auto 1fr;
}

.fr-fr {
    grid-template-columns: 1fr 1fr;
}

.fr-fr-fr {
    grid-template-columns: 1fr 1fr 1fr;
}

.padding10 {
    padding: 10px;
}

.padding2 {
    padding: 2px;
}

.padding8X {
    padding: 8px 0;
}

.iconBoxPadding {
    padding: 25px;
}

.marginY20 {
    margin: 0 20px;
}

.marginTop50 {
    margin-top: -50px;
}

.marginTop80 {
    margin-top: 80px;
}

.marginTop30 {
    margin-top: 30px;
}

.alignItems {
    align-items: center;
}

.gap2 {
    gap: 2rem;
}

.gap1 {
    gap: 1rem;
}

.borderRadius5 {
    border-radius: 5px;
}

.borderRadius50 {
    border-radius: 50%;
}

.bgWhite {
    background-color: white;
}

.bgGreen {
    background-color: green;
}

.bgRed {
    background-color: rgb(255, 85, 0);
}

.bgPink {
    background-color: rgb(221, 15, 84);
}

.bgBlue {
    background-color: rgb(59, 59, 188);
}

.boxShadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
}

.colorGray {
    color: gray;
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}

.fSize {
    font-size: 1.4rem;
}

.justifyContentEnd {
    justify-content: end;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.textAlign {
    text-align: center;
}

.image {
    width: 100%;
    transform: translateY(-30px);
}

.card3Img {
    transition: transform .9s ease;
}

.transitionCard:hover .card3Img {
    transform: translateY(-40px);
}

.transitionCard:hover .iconsDirection {
    display: flex;
}

.transformY {
    transform: translateY(-40px);
}


.displayNone {
    display: none;
}

.overflowYScroll {
    overflow-y: scroll;
}

/*body  */
body {
    background-color: rgb(221, 221, 227);
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
    height: 100vh;
}

/* aside */
aside {
    background-image: url(./assets/images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.750);
    background-position: center;
    background-blend-mode: color;
    padding: 1rem;
    font-size: 1rem;
}

.img50 {
    width: 50px;
}

.asideDashbord {
    background-color: red;
}


.asideStyle {
    grid-template-columns: 1fr auto;
    margin: 0.6rem;
}

.asideStyle:hover:not(.asideSection, .asideTitle, .asideDashbord) {
    background-color: rgba(81, 79, 79, 0.616);
}

/* header */
.buttonRed {
    top: -2px;
    right: -2px;
    background-color: red;
    border: transparent;
    height: 15px;
    width: 15px;
    border: 1px solid white;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
}

input:focus {
    border-bottom: 2px solid purple;
}

.shadow:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
}

a:hover,
.positionR:hover .listTransition {
    display: block;
}

.listTransition {
    right: 5px;
    top: 10px;
    width: 15rem;
    background-color: white;
}

.transitionBgRed {
    padding: 4px;
}

.transitionBgRed:hover {
    background-color: red;
}

/* main */
main {
    padding: var(--padding-40);
}

/* tablet Styles  */
@media (max-width: 1100px) {

    aside,
    .headerDashboard {
        display: none;
    }

    .asideResponsive {
        display: flex;
    }

    .card-1flags,
    .card-3 {
        grid-template-columns: 1fr;
    }
}

/* iphone */
@media (max-width: 740px) {

    aside,
    .headerDashboard {
        display: none;
    }

    .asideResponsive {
        display: flex;
    }

    .card-2,
    .card-3 {
        grid-template-columns: 1fr;
    }

    footer {
        font-size: 0.6rem;
    }
}